/* PC */
@media (min-width: 1024px){

}
/* Tablet and mobile */ 
@media (max-width: 63.9375em){
    #nav .subnav a {
        padding: 5px 12px; 
    }
    .btn{
        padding: 15px 16px; 
    }
    .contact-form .form-control{
        padding: 15px; 
    }
    .contact-info{
        line-height: 2;
    }
    .socials-list{
        font-size: 48px;
        margin: 0 8px; 
    }
    #footer .socials-list a{
        margin: 0 8px; 
    }
    #footer .copy-right a {
        padding: 12px 0;
        display: inline-block;
    }

}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 1023px){
    
}

/* Mobile */
@media (max-width: 46.1875em){
    #nav {
        display: block;
    }
    #nav > li {
        display: block; 
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px; 
    }
    #header{
        overflow: hidden; 
    }
    #header .mobile-menu-btn{  
        display: block;
    }
    #header .search-btn{
        display: none; 
    }
    #content .member-item {
        margin-top: 30px;
        width: 100px; 
    }
    #content .member-img {
        width: 60%;
    }
    .contact-form{
        margin-top: 16px; 
    }
}